<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Amazon Application Test Cases">
		<classes>
			<class name="com.amazon.qa.testcases.Loginpage"></class>
			<class name="com.amazon.qa.testcases.HomePage_WindowHandling"></class>

		</classes>
	</test>
</suite>
